#nav {
    display: inline-flex;
    justify-content: flex-end;
    width: 80%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex start;
}

a{
    margin: 10px;
}

/*top Nav bar end*/


#logo{
    padding: 10% 0 1% 0;
    text-align: center;
}

/*Search box + search buttons start*/
#search{
    text-align: center;
    border: 1px solid #D1D1D1;
    margin: 0 20% 0 20%;
    border-radius: 25px;
}

#search button{
    border: none;
    background: transparent;
    font-size: 17px;
    margin-top: 7px;
}

#search-box{
    border: none;
    padding: 10px;
    width: 75%;
}

#search-btn{
    text-align: center;
    margin-top: 15px;
}

#search-btn button{
    margin: 5px;
    border: none;
    background: #EEEEEE;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}
/*Search box + search buttons end*/


#empty{
    padding: 100px;
}


/*Bottom navigation bar starts*/
#footer{
    background: #EEEEEE;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
}

#bot-nav{
   display: inline-flex;
   justify-content: flex-end;
   width: 55%;
}

/*Bottom navigation bar ends*/
